<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dimdmi 5</title>

    <!-- Fonts from Googl Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">
    <!--  -->

    <!-- Slider plugin styles -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/slick-1.8.1/slick/slick.css" />
    <!--  -->
    <!-- Styles -->
    <link rel="stylesheet" href="assets/styles/normalize.css">
    <link rel="stylesheet" href="assets/styles/fonts.css">
    <link rel="stylesheet" href="assets/styles/style.css">
    <!--  -->

</head>

<body>

    <!-- =================================== Page header =================================== -->
    <header class="header">
        <!-- Header content box -->
        <div class="header-wrapper">
            <!-- Left navigation box -->
            <nav class="navigation-left">
                <!-- Left navigation list -->
                <ul class="nav-list">
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#wwa" class="nav-link">discover</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#wdwd" class="nav-link">about</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#advantages" class="nav-link">advantages</a>
                    </li>
                </ul>
            </nav>
            <!-- Logo box -->
            <div class="logo-box">
                <!-- Logo link -->
                <a href="#" class="logo-container">
                    <!-- dIMdMI -->
                    <h3 class="logo"><span class="logo-white"><span class="logo-span">d</span><span class="logo-span--I">I</span>M</span><span class="logo-black"><span
                                class="logo-span">d</span>M<span class="logo-span--I">I</span></span>
                    </h3>
                    <!-- TEMPLATES -->
                    <p class="logo-name"><span class="logo-white">temp</span>l<span class="logo-black">ates</span></p>
                </a>
            </div>
            <!-- Right navigation box -->
            <nav class="navigation-right">
                <!-- Right navigation list -->
                <ul class="nav-list">
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#hdww" class="nav-link">how we work</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#reviews" class="nav-link">feedbacks</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#partners" class="nav-link">partners</a>
                    </li>
                </ul>
            </nav>
            <!-- Mobile navigation box -->
            <div class="mobile-navigation">
                <nav class="navigation">
                    <!-- Mobile navigation list -->
                    <ul class="nav-list">
                        <!-- Navigation list item -->
                        <li class="nav-list-item">
                            <!-- navigation link -->
                            <a href="#wwa" class="nav-link">discover</a>
                        </li>
                        <!-- Navigation list item -->
                        <li class="nav-list-item">
                            <!-- navigation link -->
                            <a href="#wdwd" class="nav-link">about</a>
                        </li>
                        <!-- Navigation list item -->
                        <li class="nav-list-item">
                            <!-- navigation link -->
                            <a href="#advantages" class="nav-link">advantages</a>
                        </li>
                        <!-- Navigation list item -->
                        <li class="nav-list-item">
                            <!-- navigation link -->
                            <a href="#hdww" class="nav-link">how we work</a>
                        </li>
                        <!-- Navigation list item -->
                        <li class="nav-list-item">
                            <!-- navigation link -->
                            <a href="#reviews" class="nav-link">feedbacks</a>
                        </li>
                        <!-- Navigation list item -->
                        <li class="nav-list-item">
                            <!-- navigation link -->
                            <a href="#partners" class="nav-link">partners</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- =================================== Intro section =================================== -->
    <section class="intro">
        <div class="intro-content">
            <!-- Left intro container -->
            <div class="intro-left-container">
                <!-- Text container -->
                <div class="intro-left-text-box">
                    <!-- Title -->
                    <h1 class="intro-title">This page is all<br>about contrast</h1>
                    <!-- Text -->
                    <p class="intro-text">We have developed a lot of different pages. They are made for you and there are a lot of useful blocks that you can custom.</p>
                    <!-- Order link -->
                    <a href="#form" class="intro-order"><span>order a page</span></a>
                </div>
            </div>
            <!-- Right intro container -->
            <div class="intro-right-container">
                <!-- Macbook image container -->
                <div class="mac-box"></div>
            </div>
        </div>
    </section>

    <!-- =================================== Page main =================================== -->
    <main class="main">

        <!-- =================================== Who we are section =================================== -->
        <section class="who-we-are" id="wwa">
            <!-- Who we are left content box -->
            <div class="wwa-left-content">
                <div class="wwa-left-text">
                    <!-- Title -->
                    <h2 class="title wwa-title">Who we are</h2>
                    <!-- Text -->
                    <p class="wwa-text">Creating projects in the categories of alcoholic and non-alcoholic beverages, FMCG, telecom, finance, real estate sales, luxury, retail, food, sports goods, we help your brand to talk to people. The clear strategic communication of
                        each of our projects inspires consumers to look at the world from a new point of view, and for someone to see again what has been forgotten over the years.
                    </p>
                    <!-- Text -->
                    <p class="wwa-text"> All our creative ideas are born from the behavior of ordinary people. This is the only way to create works that can change the brand. In order for your brand to become a cult, it must become as simple as talking two friends in an elevator.
                        For this, first of all, the strategy is responsible. And our strategic department.
                    </p>
                    <!-- Text -->
                    <p class="wwa-text"> Advertising creative always pursues one goal and solves one specific task. To solve problems, we create stories. Sometimes a big story idea may hide in the simplest, smallest, and most obvious. The main thing to find it first. No matter
                        what the campaign will be.</p>
                </div>
            </div>
            <!-- Who we are right image box -->
            <div class="wwa-right-image"></div>
        </section>

        <!-- =================================== What do we do section =================================== -->
        <section class="what-do-we-do" id="wdwd">
            <!-- What do we do content -->
            <div class="wdwd-content">
                <!-- Title -->
                <h2 class="title wdwd-title">what do we do</h2>
                <!-- What do we do slider -->
                <div class="wdwd-slider-content">
                    <!-- Arrows box -->
                    <div class="arrows-positioning">
                        <!-- Previous button -->
                        <button class="prev-arrow prev"><i class="fas fa-chevron-left"></i></button>
                        <!-- Next button -->
                        <button class="next-arrow next"><i class="fas fa-chevron-right"></i></button>
                    </div>
                    <!-- Slider -->
                    <div class="wdwd-slider">
                        <!-- Slide 1 -->
                        <div class="wdwd-slide">
                            <!-- Slide text -->
                            <h2 class="wdwd-slide-text">We analyse the concurents so your business could be more successful
                            </h2>
                        </div>
                        <!-- Slide 2 -->
                        <div class="wdwd-slide">
                            <!-- Slide text -->
                            <h2 class="wdwd-slide-text">Make all that things possible and solve all the problems and hard tasks
                            </h2>
                        </div>
                        <!-- Slide 3 -->
                        <div class="wdwd-slide">
                            <!-- Slide text -->
                            <h2 class="wdwd-slide-text">Create a great plan which puts your business to other concurents
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================================== Advantages section =================================== -->
        <section class="advantages" id="advantages">
            <!-- Advantages content -->
            <div class="advantages-content">
                <!-- Title box -->
                <div class="advantages-title-box">
                    <!-- Title -->
                    <h2 class="title advantages-title">advantages</h2>
                    <!-- Subtitle -->
                    <p class="subtitle advantages-subtitle">Numbers never lie</p>
                </div>
                <!-- Advantages box -->
                <div class="advantages-container">
                    <!-- Advantage 1 -->
                    <div class="advantage">
                        <!-- Advantage count -->
                        <div class="advantage-count-box">
                            <!-- Count to num -->
                            <h2 class="advantage-count">130</h2>
                            <!-- Count sign -->
                            <h2 class="advantage-sign">+</h2>
                        </div>
                        <!-- Advantage text -->
                        <p class="advantage-text">We have more than 130 happy clients that. Every client is important for us</p>
                    </div>
                    <!-- Advantage 2 -->
                    <div class="advantage">
                        <!-- Advantage count -->
                        <div class="advantage-count-box">
                            <!-- Count to num -->
                            <h2 class="advantage-count">10</h2>
                            <!-- Count sign -->
                            <h2 class="advantage-sign">+</h2>
                        </div>
                        <!-- Advantage text -->
                        <p class="advantage-text">Our work experience is more than 10 years, we can solve every problem
                        </p>
                    </div>
                    <!-- Advantage 3 -->
                    <div class="advantage">
                        <!-- Advantage count -->
                        <div class="advantage-count-box">
                            <!-- Count to num -->
                            <h2 class="advantage-count">100</h2>
                            <!-- Count sign -->
                            <h2 class="advantage-sign">%</h2>
                        </div>
                        <!-- Advantage text -->
                        <p class="advantage-text">That’s the percentage of well done projects and tasks. We call it responsibility
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================================== How do we work section =================================== -->
        <section class="how-do-we-work" id="hdww">
            <!-- How do we work content -->
            <div class="hdww-content">
                <!-- Title box -->
                <div class="hdww-title-box">
                    <!-- Title -->
                    <h2 class="title hdww-title">how do we work</h2>
                    <!-- Subtitle -->
                    <p class="subtitle hdww-subtitle">Simple steps which we do while working</p>
                </div>
                <!-- Steps box -->
                <div class="steps-box">

                    <!-- Steps row -->
                    <div class="steps-row">

                        <!-- Step 1 -->
                        <div class="step">
                            <!-- Step number -->
                            <h3 class="step-num">01</h3>
                            <!-- Step content -->
                            <div class="step-content-box">
                                <!-- Step title -->
                                <h3 class="step-title">Leave the request</h3>
                                <!-- Step text -->
                                <p class="step-text">You leave a request on our web-site or in our office</p>
                            </div>
                        </div>

                        <!-- Step 2 -->
                        <div class="step step-even">
                            <!-- Step number -->
                            <h3 class="step-num">02</h3>
                            <!-- Step content -->
                            <div class="step-content-box">
                                <!-- Step title -->
                                <h3 class="step-title">Signing contract</h3>
                                <!-- Step text -->
                                <p class="step-text">We sign contact and all other documents</p>
                            </div>
                        </div>

                        <!-- Step 3 -->
                        <div class="step">
                            <!-- Step number -->
                            <h3 class="step-num">03</h3>
                            <!-- Step content -->
                            <div class="step-content-box">
                                <!-- Step title -->
                                <h3 class="step-title">Creating a plan</h3>
                                <!-- Step text -->
                                <p class="step-text">Our professionals create a plan for compliting task</p>
                            </div>
                        </div>
                    </div>

                    <!-- Step row 2 -->
                    <div class="steps-row">

                        <!-- Step 4 -->
                        <div class="step step-even">
                            <!-- Step number -->
                            <h3 class="step-num">04</h3>
                            <!-- Step content -->
                            <div class="step-content-box">
                                <!-- Step title -->
                                <h3 class="step-title">Counting budget</h3>
                                <!-- Step text -->
                                <p class="step-text">We count all money we’re gonna need for this task</p>
                            </div>
                        </div>

                        <!-- Step 5 -->
                        <div class="step">
                            <!-- Step number -->
                            <h3 class="step-num">05</h3>
                            <!-- Step content -->
                            <div class="step-content-box">
                                <!-- Step title -->
                                <h3 class="step-title">Completing project</h3>
                                <!-- Step text -->
                                <p class="step-text">Doing all the tasks and proceeding the project</p>
                            </div>
                        </div>

                        <!-- Step 6 -->
                        <div class="step step-even">
                            <!-- Step number -->
                            <h3 class="step-num">06</h3>
                            <!-- Step content -->
                            <div class="step-content-box">
                                <!-- Step title -->
                                <h3 class="step-title">Finishing task</h3>
                                <!-- Step text -->
                                <p class="step-text">We finish it and give the result to you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================================== Feedbacks/Reviews section =================================== -->
        <section class="reviews" id="reviews">
            <!-- Left review box -->
            <div class="review review-left">
                <!-- Review content -->
                <div class="review-content">
                    <!-- Reviewer company logo -->
                    <div class="reviewer-company-logo"><i class="fab fa-google"></i>oogle</div>
                    <!-- Review text -->
                    <p class="review-text">“Our first project debuted this year. I liked it from the very beginning - clarity in work, financial discipline and the ability to constructively solve emerging issues. At the moment, the project is developing successfully”</p>
                    <!-- Reviewer info -->
                    <div class="reviewer-info-box">
                        <!-- Reviewer photo -->
                        <img src="assets/images/ann.png" alt="Ann" class="reviewer-photo">
                        <!-- Reviewer name -->
                        <p class="reviewer-name">Ann Watson</p>
                        <!-- Reviewer company name -->
                        <p class="reviewer-company">google inc</p>
                    </div>
                </div>
            </div>

            <!-- Right review box -->
            <div class="review review-right">
                <!-- Review content -->
                <div class="review-content">
                    <!-- Reviewer company logo -->
                    <div class="reviewer-company-logo"><i class="fab fa-microsoft"></i> Microsoft</div>
                    <!-- Review text -->
                    <p class="review-text">“We have been cooperating for more than 10 years. The work is taken seriously and professionally, fulfilling obligations on time. I value our joint work and I hope for its further continuation.”</p>
                    <!-- Reviewer info -->
                    <div class="reviewer-info-box">
                        <!-- Reviewer photo -->
                        <img src="assets/images/mary.png" alt="Mary" class="reviewer-photo">
                        <!-- Reviewer name -->
                        <p class="reviewer-name">Mary Brown</p>
                        <!-- Reviewer company name -->
                        <p class="reviewer-company">Microsoft</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================================== Partners section =================================== -->
        <section class="partners" id="partners">
            <!-- Partners content -->
            <div class="partners-content">
                <!-- Title box -->
                <div class="partners-title-box">
                    <!-- Title -->
                    <h2 class="title partners-title">some of our partners</h2>
                    <!-- Subtitle -->
                    <p class="subtitle partners-subtitle">Here are our biggest partners</p>
                </div>
                <!-- Partners title -->
                <div class="partners-box">
                    <!-- Partner 1 -->
                    <div class="partner partner-1"></div>
                    <!-- Partner 2 -->
                    <div class="partner partner-2"></div>
                    <!-- Partner 3 -->
                    <div class="partner partner-3"></div>
                    <!-- Partner 4 -->
                    <div class="partner partner-4"></div>
                    <!-- Partner 5 -->
                    <div class="partner partner-5"></div>
                </div>
            </div>
        </section>
    </main>


    <!-- =================================== Footer =================================== -->
    <footer class="footer">
        <!-- Footer content -->
        <div class="footer-content">
            <!-- Footer logo link -->
            <a href="#" class="logo-container">
                <!-- dIMdMI -->
                <h3 class="logo"><span class="logo-span">d</span><span class="logo-span--I">I</span>M</span><span class="logo-span">d</span>M<span class="logo-span--I">I</span>
                </h3>
                <!-- TEMPLATES -->
                <p class="logo-name">templates</p>
            </a>
            <!-- Footer navigation container -->
            <div class="navigation-box">
                <!-- Naviation list -->
                <ul class="nav-list">
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- Navigation link -->
                        <a href="#wwa" class="nav-link">discover</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- Navigation link -->
                        <a href="#wdwd" class="nav-link">about</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- Navigation link -->
                        <a href="#advantages" class="nav-link">advantages</a>
                    </li>
                </ul>
                <!-- Naviation list 2 -->
                <ul class="nav-list">
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- Navigation link -->
                        <a href="#hdww" class="nav-link">how we work</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- Navigation link -->
                        <a href="#reviews" class="nav-link">feedbacks</a>
                    </li>
                    <!-- Navigation list item -->
                    <li class="nav-list-item">
                        <!-- Navigation link -->
                        <a href="#partners" class="nav-link">partners</a>
                    </li>
                </ul>
            </div>
            <!-- Contact form -->
            <form action="assets/php/mail.php" method="post" class="form" id="form">

                <!-- Form title -->
                <h3 class="form-title">order a page</h3>

                <!-- Name input -->
                <input type="text" name="name" id="name" placeholder="Name" class="input" required>

                <!-- E-mail input -->
                <input type="email" name="email" id="email" placeholder="E-mail" class="input" required>

                <!-- Message input -->
                <textarea name="message" id="message" class="textarea" placeholder="Some extra characteristics" required></textarea>

                <!-- Fake checkbox container -->
                <div class="fakecheck-container">
                    <!-- Fake checkbox -->
                    <div class="fakecheck">
                        <input type="checkbox" class='check' required>
                        <i class="fas fa-check fa-fake-check"></i>
                    </div>
                    <!-- Fake checkbox text -->
                    <label class="policies">
                        I agree to the privacy policy
                    </label>
                </div>

                <!-- Submit button -->
                <input type="submit" class="submit" value="complete form">

                <!-- Success message -->
                <div class="success-alert">
                    <p class="alert-text">Thank you. Your message has been successfully sent.</p>
                    <!-- Close button -->
                    <a class="fas fa-times"></a>
                </div>
            </form>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/53d6c681d0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Slider plugin scripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/slick-1.8.1/slick/slick.js"></script>
    <!--  -->
    <script src="assets/scripts/script.js"></script>

</body>

</html>