<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dimdmi 4</title>

    <!-- Slider plugin styles -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/slick-1.8.1/slick/slick.css" />
    <!--  -->
    <!-- Styles -->
    <link rel="stylesheet" href="assets/styles/normalize.css">
    <link rel="stylesheet" href="assets/styles/fonts.css">
    <link rel="stylesheet" href="assets/styles/style.css">
    <!--  -->

    <!-- Fonts from Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <!--  -->

</head>

<body>
    <!-- ========================================================== page header ========================================================== -->
    <header class="header">
        <!-- header wrapper box -->
        <div class="header-wrapper">
            <!-- mobile bars button -->
            <button class="bars-box">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
            </button>
            <!-- logo link -->
            <a href="#" class="logo-container">
                <h3 class="logo"><span class="logo-span">d</span><span class="logo-span--I">I</span>M<span class="logo-span">d</span>M<span class="logo-span--I">I</span></h3>
                <p class="logo-name">templates</p>
            </a>
            <!-- navigation -->
            <nav class="navigation">
                <!-- mobile navigation logo -->
                <a href="#" class="logo-container nav-logo">
                    <h3 class="logo"><span class="logo-span">d</span><span class="logo-span--I">I</span>M<span class="logo-span">d</span>M<span class="logo-span--I">I</span></h3>
                    <p class="logo-name">templates</p>
                </a>
                <!-- navigation-list -->
                <ul class="nav-list">
                    <!-- navigation-list-item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#advantages" class="nav-link">преимущества</a>
                    </li>
                    <!-- navigation-list-item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#portfolio" class="nav-link">портфолио</a>
                    </li>
                    <!-- navigation-list-item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#feedbacks" class="nav-link">отзывы</a>
                    </li>
                    <!-- navigation-list-item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#packages" class="nav-link">тарифы</a>
                    </li>
                    <!-- navigation-list-item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#news" class="nav-link">новости</a>
                    </li>
                    <!--  -->
                </ul>
                <!--  -->
            </nav>
            <!-- chose language box -->
            <div class="lang-change-box">
                <a href="index.html" class="lang">EN</a>
                <a href="" class="lang current-lang">RU</a>
            </div>
        </div>
    </header>

    <!-- -------------------------------------- page intro -------------------------------------- -->
    <section class="intro">
        <!-- intro slider -->
        <div class="intro-slider">
            <!-- Slide 1 -->
            <div class="intro-slide intro-slide-1">
                <!-- intro text container -->
                <div class="intro-content">
                    <div class="intro-text-box">
                        <!-- intro title -->
                        <h1 class="intro-title">яркий<br>цветной<br>впечатляющий</h1>
                    </div>
                    <!-- go down arrow link box-->
                    <div class="godown-link-positioning">
                        <!-- go down arrow link -->
                        <a href="#" class="godown-link"><i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
                <!-- background video -->
                <video height="auto" width="100%" autoplay muted loop playsinline poster="assets/images/header-back1.png" class="bg-video">
                    <!-- video source -->
                    <source src="assets/images/bgvideo.mp4" type="video/mp4">
                    Ваш браузер не поддерживает HTML5 видео.
                    <!--  -->
                </video>
                <!--  -->
            </div>
            <!-- Slide 2 -->
            <div class="intro-slide intro-slide-2">
                <!-- intro text container -->
                <div class="intro-content">
                    <div class="intro-text-box">
                        <!-- intro title -->
                        <h1 class="intro-title">яркий<br>цветной<br>впечатляющий</h1>

                    </div>
                    <!-- go down arrow link box-->
                    <div class="godown-link-positioning">
                        <!-- go down arrow link -->
                        <a href="#" class="godown-link"><i class="fas fa-chevron-down"></i></a>
                    </div>
                </div>
                <!-- background video -->
                <video height="auto" width="100%" autoplay muted loop playsinline poster="assets/images/header-back2.jpg" class="bg-video">
                    <!-- video source -->
                    <source src="assets/images/bgvideo2.mp4" type="video/mp4">
                        Ваш браузер не поддерживает HTML5 видео.
                </video>
            </div>
        </div>
        <!-- slider arrows box -->
        <div class="arrows-positioning">
            <div class="arrows">
                <!-- prev arrow -->
                <button class="fas fa-chevron-left"></button>
                <!-- next arrow -->
                <button class="fas fa-chevron-right"></button>
            </div>
        </div>
    </section>

    <!-- ========================================================== page main ========================================================== -->
    <main class="main">

        <!-- -------------------------------------- advantages box -------------------------------------- -->
        <section class="advantages" id='advantages'>
            <!-- advantages content -->
            <div class="advantages-content">
                <!-- advantages box -->
                <div class="advantages-box">
                    <!-- advantage 1 -->
                    <div class="advantage">
                        <!-- advantage icon -->
                        <div class="advantage-image"><i class="far fa-image"></i></div>
                        <!-- advantage title -->
                        <h3 class="advantage-title">Уникальный контент</h3>
                        <!-- advantage text -->
                        <p class="advantage-text">All our photo-video content is unique and we have our personal rights on it</p>
                    </div>
                    <!-- advantage 2 -->
                    <div class="advantage">
                        <!-- advantage icon -->
                        <div class="advantage-image"><i class="far fa-newspaper"></i></div>
                        <!-- advantage title -->
                        <h3 class="advantage-title">прекрасный дизайн</h3>
                        <!-- advantage text -->
                        <p class="advantage-text">We have designed a lot of web-pages for your great experience</p>
                    </div>
                    <!-- advantage 3 -->
                    <div class="advantage">
                        <!-- advantage icon -->
                        <div class="advantage-image"><i class="fas fa-link"></i></div>
                        <!-- advantage title -->
                        <h3 class="advantage-title">по всему миру</h3>
                        <!-- advantage text -->
                        <p class="advantage-text">It sounds unbelievable but our company has 45 branches in different countries
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- -------------------------------------- portfolio box -------------------------------------- -->
        <section class="portfolio" id="portfolio">
            <div class="portfolio-content">
                <!-- portfolio title -->
                <h3 class="main-title portfolio-title">Портфолио</h3>
                <!-- portfolio subtitle -->
                <p class="main-subtitle portfolio-subtitle">Здесь вы можете изучить наши последние работы</p>
                <!-- portfolio gallery -->
                <div class="portfolio-gallery-box">

                    <!-- gallery column 1 -->
                    <div class="gallery-col gallery-col-1">
                        <!-- gallery image 1 -->
                        <div class="gallery-item gallery-item1"></div>
                        <!-- gallery image 2 -->
                        <div class="gallery-item gallery-item2"></div>
                        <!-- gallery image 3 -->
                        <div class="gallery-item gallery-item3"></div>
                    </div>

                    <!-- gallery column 2 -->
                    <div class="gallery-col gallery-col-2">
                        <!-- gallery image 4 -->
                        <div class="gallery-item gallery-item4"></div>
                        <!-- gallery image 5 -->
                        <div class="gallery-item gallery-item5"></div>
                        <!-- gallery image 6 -->
                        <div class="gallery-item gallery-item6"></div>
                    </div>

                    <!-- gallery column 3 -->
                    <div class="gallery-col gallery-col-3">

                        <!-- tablet positioning box left -->
                        <div class="magic-box-left">
                            <!-- gallery image 7 -->
                            <div class="gallery-item gallery-item7"></div>
                        </div>

                        <!-- tablet positioning box right -->
                        <div class="magic-box-right">
                            <!-- gallery image 8 -->
                            <div class="gallery-item gallery-item8"></div>
                            <!-- gallery image 9 -->
                            <div class="gallery-item gallery-item9"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- -------------------------------------- feedbacks box -------------------------------------- -->
        <section class="feedbacks" id="feedbacks">
            <div class="feedbacks-content">
                <!-- feedbacks title -->
                <h3 class="main-title feedbacks-title">Отзывы</h3>
                <!-- feedbacks subtitle -->
                <p class="main-subtitle feedbacks-subtitle">Мы работаем для наших клиентов, мы работаем для вас</p>
                <!-- reviews box -->
                <div class="reviews-box">

                    <!-- review 1 -->
                    <div class="review">
                        <div class="review-title-box">
                            <!-- reviewer photo -->
                            <img src="assets/images/ann.png" alt="Ann Watson" class="reviewer-photo">
                            <!-- reviewer title text box -->
                            <div class="rtb-text-container">
                                <!-- reviewer name -->
                                <h3 class="reviewer-name">Ann Watson</h3>
                                <!-- reviewer company name -->
                                <p class="reviewer-company">google inc</p>
                            </div>
                        </div>
                        <!-- review text -->
                        <p class="review-text">“Наш первый проект дебютировал в этом году. С самого начала понравилась - четкость в работе, финансовая дисциплина и умение конструктивно решать проблемы. В данный момент проект успешно развивается.”</p>
                    </div>

                    <!-- review 2 -->
                    <div class="review">
                        <div class="review-title-box">
                            <!-- reviewer photo -->
                            <img src="assets/images/mary.png" alt="Mary Brown" class="reviewer-photo">
                            <!-- reviewer title text box -->
                            <div class="rtb-text-container">
                                <!-- reviewer name -->
                                <h3 class="reviewer-name">Mary Brown</h3>
                                <!-- reviewer company name -->
                                <p class="reviewer-company">Microsoft</p>
                            </div>
                        </div>
                        <!-- review text -->
                        <p class="review-text">“За время сотрудничества все отгруженное нами высокоточное оборудование и запасные части к нему были доставлены Вами без повреждений и в оговоренные сроки.В наше непростое время важно иметь таких партнеров.” </p>
                    </div>

                    <!-- review 3 -->
                    <div class="review last-review">
                        <div class="review-title-box">
                            <!-- reviewer photo -->
                            <img src="assets/images/hayley.png" alt="Heyley Cooper" class="reviewer-photo">
                            <!-- reviewer title text box -->
                            <div class="rtb-text-container">
                                <!-- reviewer name -->
                                <h3 class="reviewer-name">Heyley Cooper</h3>
                                <!-- reviewer company name -->
                                <p class="reviewer-company">businesswoman</p>
                            </div>
                        </div>
                        <!-- review text -->
                        <p class="review-text">“Сотрудничаем уже больше 10 лет. К работе относятся серьезно и профессионально, выполняют обязательства в срок и в полном объеме. Дорожу нашей совместной работой и надеюсь на ее дальнейшее продолжение.”
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!-- -------------------------------------- packages box -------------------------------------- -->
        <section class="packages" id="packages">
            <div class="packages-content">
                <!-- packages title -->
                <h3 class="main-title packages-title">Тарифы</h3>
                <!-- packages subtitle -->
                <p class="main-subtitle packages-subtitle">Здесь находятся наши лучшие цены и услуги</p>
                <!-- Plan 1 -->
                <div class="plan-box">
                    <!-- plan name -->
                    <h3 class="plan-name"><i class="fas fa-user-secret"></i> персональный</h3>
                    <!-- plan description -->
                    <p class="plan-description">Этот тариф идеально подходит для персонального использования
                    </p>
                    <!-- plan price -->
                    <h3 class="plan-price">100$</h3>
                    <!-- order button -->
                    <a href="#" class="order-a-plan">заказать</a>
                </div>
                <!-- Plan 2 -->
                <div class="plan-box plan2">
                    <!-- plan name -->
                    <h3 class="plan-name"><i class="fas fa-tv"></i> маленькие цели</h3>
                    <!-- plan description -->
                    <p class="plan-description">Этот тариф идеально подходит для небольших задач
                    </p>
                    <!-- plan price -->
                    <h3 class="plan-price">500$</h3>
                    <!-- order button -->
                    <a href="#" class="order-a-plan">заказать</a>
                </div>
                <!-- Plan 3 -->
                <div class="plan-box plan3">
                    <!-- plan name -->
                    <h3 class="plan-name"><i class="fas fa-users"></i> большой бизнес</h3>
                    <!-- plan description -->
                    <p class="plan-description">Этот тариф идеально подходит для больших задач и целей</p>
                    <!-- plan price -->
                    <h3 class="plan-price">800$</h3>
                    <!-- order button -->
                    <a href="#" class="order-a-plan">заказать</a>
                </div>
            </div>
        </section>

        <!-- -------------------------------------- news box -------------------------------------- -->
        <section class="news" id="news">
            <div class="news-content">
                <!-- news title -->
                <h3 class="main-title news-title">Новости</h3>
                <!-- news subtitle -->
                <p class="main-subtitle news-subtitle">Здесь вы можете увидеть последние новости нашего агенства</p>
                <!-- news container -->
                <div class="news-boxes">
                    <!-- news row 1 -->
                    <div class="news-row">
                        <!-- news 1 -->
                        <div class="news-box news1">
                            <!-- news title -->
                            <h3 class="new-title">50% Скидки на горные фотографии</h3>
                            <!-- news text -->
                            <p class="new-text">Получите уникальные горные фотографи со скидкой 50%. Вы посетите Кордильеры и получите море эмоций. Такой контент точно украсит ваш блог</p>
                            <!-- learn more -->
                            <a href="#" class="learn-more">изучить</a>
                        </div>

                        <!-- news 2 -->
                        <div class="news-box news2">
                            <!-- news title -->
                            <h3 class="new-title">Уникальные фото природы</h3>
                            <!-- news text -->
                            <p class="new-text">Не потратьте возможность, приобретайте свежайшие фотографии лесов. Фото лимитированы, поэтому не ждите. Они точно выделят вашу статью</p>
                            <!-- learn more -->
                            <a href="#" class="learn-more">изучить</a>
                        </div>
                    </div>

                    <!-- news row 2 -->
                    <div class="news-row">
                        <!-- news 3 -->
                        <div class="news-box news3">
                            <!-- news title -->
                            <h3 class="new-title">Фотографии городов доступны</h3>
                            <!-- news text -->
                            <p class="new-text">Если вы действительно любите свой город, то у вас просто нет права пройти мимо этих фотографий. Мы собрали коллекцию из 30 городов</p>
                            <!-- learn more -->
                            <a href="#" class="learn-more">изучить</a>
                        </div>
                        <!-- news 4 -->
                        <div class="news-box news4">
                            <!-- news title -->
                            <h3 class="new-title">Вы всегда можете получить компенсацию
                            </h3>
                            <!-- news text -->
                            <p class="new-text">Если результат не идеален, вы всегда можете запросить возврат средств. Как мы раньше сказали, мы работаем для вас и вашего результата</p>
                            <!-- learn more -->
                            <a href="#" class="learn-more">изучить</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ========================================================== page footer ========================================================== -->
    <footer class="footer">
        <div class="footer-content">
            <!-- footer logo -->
            <a href="#" class="logo-container">
                <h3 class="logo"><span class="logo-span">d</span><span class="logo-span--I">I</span>M<span class="logo-span">d</span>M<span class="logo-span--I">I</span></h3>
                <p class="logo-name">templates</p>
            </a>
            <!-- footer copyright -->
            <p class="copyright">
                <!-- year update script -->
                <script>
                    document.write(new Date().getFullYear())
                </script>
                <!--  -->
                Все права защищены
            </p>
            <!-- social links -->
            <div class="footer-socials">
                <a href="#" class="social-link"><i class="fab fa-vk"></i></a>
                <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/53d6c681d0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Slider plugin scripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/slick-1.8.1/slick/slick.js"></script>
    <!--  -->
    <script src="assets/scripts/script.js"></script>
</body>

</html>