/* display flex settings */
/* */
@media screen and (max-width: 415px) {
  .page-intro .intro-text-box .intro-title {
    font-size: 25px;
  }
  .page-intro {
    padding: 175px 0 155px;
  }
  .page-intro .intro-text-box .intro-text {
    font-size: 14px;
  }
  .page-main .main-content .agency-features-container .feature-row .feature-box {
    max-width: 100%;
  }
  .page-main .main-content .title {
    font-size: 35px;
  }
  .page-main .main-content .title::after {
    width: 153px;
  }
  .page-main .main-content .our-team .title.our-team-title::after {
    width: 108px;
  }
  .page-main .main-content .our-team .team-members-box .team-member .team-member-image-box {
    width: 290px;
    height: 279px;
  }
  .page-main .main-content .portfolio .title.portfolio-title:after {
    width: 190px;
  }
  .page-main .main-content .rates {
    margin-top: 45px;
  }
  .page-main .main-content .rates .title.rates-title::after {
    width: 115px;
  }
  .slick-slider {
    zoom: 0.64;
  }
  .page-main .rates .rates-slide .rates-slide-content:nth-child(1n) {
    width: 431px;
  }
  .page-main .rates .rates-slide .rates-slide-image {
    width: 146px;
    height: 146px;
    margin-right: 10px;
  }
  .page-main .rates .rates-slide .rates-slide-content {
    width: 350px;
    padding: 8px 15px 8px 15px;
    float: none;
  }
  .page-main .rates .rates-slide .rates-slide-content .rates-slide-title {
    font-size: 25px;
  }
  .footer .footer-content .footer-contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 484px;
    margin: 0 auto;
    min-width: 295px;
  }
  .footer .footer-content .footer-contact-box .footer-navigation,
  .footer .footer-content .footer-contact-box .socials {
    margin: 0;
    margin-bottom: 15px;
  }
  .footer .footer-content .footer-contact-box .footer-navigation .footer-nav-list,
  .footer .footer-content .footer-contact-box .footer-navigation .socials-list,
  .footer .footer-content .footer-contact-box .socials .footer-nav-list,
  .footer .footer-content .footer-contact-box .socials .socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .footer .footer-content .footer-contact-box .footer-navigation .footer-nav-list .footer-nav-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .footer-navigation .footer-nav-list .footer-nav-list-item .social-link,
  .footer .footer-content .footer-contact-box .footer-navigation .footer-nav-list .socials-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .footer-navigation .footer-nav-list .socials-list-item .social-link,
  .footer .footer-content .footer-contact-box .footer-navigation .socials-list .footer-nav-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .footer-navigation .socials-list .footer-nav-list-item .social-link,
  .footer .footer-content .footer-contact-box .footer-navigation .socials-list .socials-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .footer-navigation .socials-list .socials-list-item .social-link,
  .footer .footer-content .footer-contact-box .socials .footer-nav-list .footer-nav-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .socials .footer-nav-list .footer-nav-list-item .social-link,
  .footer .footer-content .footer-contact-box .socials .footer-nav-list .socials-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .socials .footer-nav-list .socials-list-item .social-link,
  .footer .footer-content .footer-contact-box .socials .socials-list .footer-nav-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .socials .socials-list .footer-nav-list-item .social-link,
  .footer .footer-content .footer-contact-box .socials .socials-list .socials-list-item .footer-nav-link,
  .footer .footer-content .footer-contact-box .socials .socials-list .socials-list-item .social-link {
    margin: 0;
    font-size: 12px;
  }
  .footer .footer-content .form-container {
    max-width: 414px;
  }
  .footer .footer-content .form-container .form-subtitle {
    font-size: 12px;
    margin-top: 5px;
  }
  .footer .footer-content .form-container .form .input {
    max-width: 90%;
  }
  .footer .footer-content .form-container .form .policies {
    font-size: 8px;
    align-items: center;
    max-width: 85%;
    width: 85%;
  }
  .footer .footer-info {
    display: none;
  }
  .footer .copyright {
    font-size: 12px;
  }
}
