<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dimdmi6</title>

    <!-- Fonts from Googl Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap" rel="stylesheet">
    <!--  -->

    <!-- Styles -->
    <link rel="stylesheet" href="assets/styles/normalize.css">
    <link rel="stylesheet" href="assets/styles/fonts.css">
    <link rel="stylesheet" href="assets/styles/style.css">
    <!--  -->

</head>

<body>
    <!-- ======================================== Header ======================================== -->
    <header class="header">
        <!-- header box -->
        <div class="header-wrapper">
            <!-- Logo box -->
            <div class="logo-box">
                <!-- Logo link -->
                <a href="#" class="logo-container">
                    <!-- dIMdMI -->
                    <h3 class="logo"><span class="logo-white"><span class="logo-span">d</span><span class="logo-span--I">I</span>M</span><span class="logo-black"><span
                                class="logo-span">d</span>M<span class="logo-span--I">I</span></span>
                    </h3>
                    <!-- TEMPLATES -->
                    <p class="logo-name"><span class="logo-white">temp</span>l<span class="logo-black">ates</span></p>
                </a>
            </div>
            <!-- navigation -->
            <nav class="navigation">
                <!-- navigation-list -->
                <ul class="nav-list">
                    <!-- navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#advantages" class="nav-link">advantages</a>
                    </li>
                    <!-- navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#guide" class="nav-link">small guide</a>
                    </li>
                    <!-- navigation list item -->
                    <li class="nav-list-item">
                        <!-- navigation link -->
                        <a href="#feedback" class="nav-link">feedbacks</a>
                    </li>
                </ul>
            </nav>
            <!-- Call us button/link -->
            <a href="tel:123-456-78-90" class="call-us"><i class="fas fa-phone-alt"></i> Call us</a>
            <!-- Mobile button -->
            <button class="bars-box">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
                <span class="bar bar-3"></span>
            </button>
        </div>
    </header>

    <!-- ======================================== Intro section ======================================== -->
    <section class="intro">
        <!-- intro container -->
        <div class="intro-content">
            <!-- intro title container -->
            <div class="intro-title-box">
                <!-- Intro title -->
                <h1 class="intro-title">make it possible</h1>
                <!-- Intro text -->
                <p class="intro-text">With dimdmi templates, which are specially designed for agencies and has different elements. It costs only 17$ and can really boost your business</p>
                <!-- go down arrow -->
                <a href="#advantages" class="go-down-link">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve">
                        <g>
                            <g>
                                <path
                                    d="M509.121,125.966c-3.838-3.838-10.055-3.838-13.893,0L256.005,365.194L16.771,125.966c-3.838-3.838-10.055-3.838-13.893,0    c-3.838,3.838-3.838,10.055,0,13.893l246.18,246.175c1.842,1.842,4.337,2.878,6.947,2.878c2.61,0,5.104-1.036,6.946-2.878    l246.17-246.175C512.959,136.021,512.959,129.804,509.121,125.966z" />
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </section>

    <!-- ======================================== Main ======================================== -->
    <main class="main">

        <!-- ======================================== Offer section ======================================== -->
        <section class="offer">
            <!-- Offer content -->
            <div class="offer-content">
                <!-- offer text -->
                <p class="offer-text">You can put your, or your client’s text here, that’s what our templates are made for. Imagine paying only 17$ per site instead of 1000$. </p>
                <!-- Read more link -->
                <a href="" class="read-more-link">read more info</a>
            </div>
        </section>

        <!-- ======================================== Advantages section ======================================== -->
        <section class="advantages" id='advantages'>
            <!-- Advantages content -->
            <div class="advantages-content">
                <!-- Advantage 1 -->
                <div class="advantage">
                    <!-- advantage image -->
                    <div class="advantage-image advantage-image-1"></div>
                    <!-- Advantage content -->
                    <div class="advantage-content-box">
                        <!-- Advantage title -->
                        <h3 class="advantage-title">Analyse system</h3>
                        <!-- Advantage text -->
                        <p class="advantage-text">We analyse the task and try to make budget the best way</p>
                    </div>
                </div>

                <!-- Advantage 2 -->
                <div class="advantage">
                    <!-- advantage image -->
                    <div class="advantage-image advantage-image-2"></div>
                    <!-- Advantage content -->
                    <div class="advantage-content-box">
                        <!-- Advantage title -->
                        <h3 class="advantage-title">Best team</h3>
                        <!-- Advantage text -->
                        <p class="advantage-text">Our agency has the best team, which completes all the tasks</p>
                    </div>
                </div>

                <!-- Advantage 3 -->
                <div class="advantage">
                    <!-- advantage image -->
                    <div class="advantage-image advantage-image-3"></div>
                    <!-- Advantage content -->
                    <div class="advantage-content-box">
                        <!-- Advantage title -->
                        <h3 class="advantage-title">Result is the goal</h3>
                        <!-- Advantage text -->
                        <p class="advantage-text">Our last destinations is the result, we work for that</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======================================== Guide section ======================================== -->
        <section class="guide" id="guide">
            <!-- Guide content -->
            <div class="guide-content">
                <!-- Guide item 1 -->
                <div class="guide-item">
                    <!-- count container -->
                    <div class="count-container">
                        <!-- Count box -->
                        <div class="guide-count-box">
                            <!-- Count num -->
                            <h2 class="count-num">100</h2>
                            <!-- Count sign/letter -->
                            <h2 class="count-letter">+</h2>
                        </div>
                    </div>
                    <!-- Guide content box -->
                    <div class="guide-content-box">
                        <!-- Guide title -->
                        <h3 class="guide-title">Happy clients</h3>
                        <!-- Guide text -->
                        <p class="guide-text">We have more than 100 happy clients which have left their feedback on our web-site. All their tasks were solved and the result was given to them. </p>
                    </div>
                </div>

                <!-- Guide item 2 -->
                <div class="guide-item">
                    <!-- count container -->
                    <div class="count-container">
                        <!-- Count box -->
                        <div class="guide-count-box">
                            <!-- Count num -->
                            <h2 class="count-num">10</h2>
                            <!-- Count sign/letter -->
                            <h2 class="count-letter">y</h2>
                        </div>
                    </div>
                    <!-- Guide content box -->
                    <div class="guide-content-box">
                        <!-- Guide title -->
                        <h3 class="guide-title">Our experience</h3>
                        <!-- Guide text -->
                        <p class="guide-text">We’ve been working for 10 years and still don’t have any time, when the clients wasn’t happy about out work, budget, team. Because everything is brilliant.</p>
                    </div>
                </div>

                <!-- Guide item 3 -->
                <div class="guide-item">
                    <!-- count container -->
                    <div class="count-container">
                        <!-- Count box -->
                        <div class="guide-count-box">
                            <!-- Count num -->
                            <h2 class="count-num">1</h2>
                            <!-- Count sign/letter -->
                            <h2 class="count-letter">m</h2>
                        </div>
                    </div>
                    <!-- Guide content box -->
                    <div class="guide-content-box">
                        <!-- Guide title -->
                        <h3 class="guide-title">1 million dollars</h3>
                        <!-- Guide text -->
                        <p class="guide-text">That are all budgets in summary we have been working with. Every cent, every dollar was used by their need. No wasting money, only analyse.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======================================== Feedbacks section ======================================== -->
        <section class="feedbacks" id="feedback">
            <!-- Feedbacks container -->
            <div class="feedbacks-container">
                <!-- Feedback box 1 -->
                <div class="feedback-box">
                    <!-- Feedback left part -->
                    <div class="feedback-left">
                        <!-- Feedback image -->
                        <img src="assets/images/feed-img-1.png" alt="" class="feedback-image">
                        <img src="assets/images/feed-img-1-mobile.jpg" alt="" class="feedback-image-mobile">
                        <!-- Feedback socials box -->
                        <div class="feedback-social">
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-vk"></i></a>
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <!-- Feedback right part -->
                    <div class="feedback-right">
                        <!-- reviewer name -->
                        <h3 class="feedback-title">Rick Conley</h3>
                        <!-- reviewer text -->
                        <p class="feedback-text">“Our first project debuted this year. I liked it from the very beginning - clarity in work, financial discipline and the ability to constructively solve emerging issues.”</p>
                    </div>
                </div>

                <!-- Feedback box 2 -->
                <div class="feedback-box">
                    <!-- Feedback left part -->
                    <div class="feedback-left">
                        <!-- Feedback image -->
                        <img src="assets/images/feed-img-2.png" alt="" class="feedback-image">
                        <img src="assets/images/feed-img-2-mobile.jpg" alt="" class="feedback-image-mobile">
                        <!-- Feedback socials box -->
                        <div class="feedback-social">
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-vk"></i></a>
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <!-- Feedback right part -->
                    <div class="feedback-right">
                        <!-- reviewer name -->
                        <h3 class="feedback-title">Mike Peterson</h3>
                        <!-- reviewer text -->
                        <p class="feedback-text">“We have been cooperating for more than 10 years. The work is taken seriously and professionally, fulfilling obligations on time and in full.”</p>
                    </div>
                </div>

                <!-- Feedback box 3 -->
                <div class="feedback-box">
                    <!-- Feedback left part -->
                    <div class="feedback-left">
                        <!-- Feedback image -->
                        <img src="assets/images/feed-img-3.png" alt="" class="feedback-image">
                        <img src="assets/images/feed-img-3-mobile.jpg" alt="" class="feedback-image-mobile">
                        <!-- Feedback socials box -->
                        <div class="feedback-social">
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-vk"></i></a>
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                            <!-- social link -->
                            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <!-- Feedback right part -->
                    <div class="feedback-right">
                        <!-- reviewer name -->
                        <h3 class="feedback-title">Chris Hemsworth</h3>
                        <!-- reviewer text -->
                        <p class="feedback-text">“During the cooperation, all the high-precision equipment shipped by us and spare parts for it were delivered by you without damage and on time. Hope for further coop”
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- ======================================== Footer ======================================== -->
    <footer class="footer">
        <!-- Footer content -->
        <div class="footer-content">
            <!-- Logo box -->
            <div class="logo-box">
                <!-- Logo link -->
                <a href="#" class="logo-container">
                    <!-- dIMdMI -->
                    <h3 class="logo"><span class="logo-white"><span class="logo-span">d</span><span class="logo-span--I">I</span>M</span><span class="logo-black"><span
                                class="logo-span">d</span>M<span class="logo-span--I">I</span></span>
                    </h3>
                    <!-- TEMPLATES -->
                    <p class="logo-name"><span class="logo-white">temp</span>l<span class="logo-black">ates</span></p>
                </a>
            </div>
        </div>
    </footer>
</body>

<!-- Scripts -->
<script src="https://kit.fontawesome.com/164d21a73c.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="assets/scripts/script.js"></script>

</html>