<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dimdmi 7</title>

    <!-- Fonts from https://fonts.google.com -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
    <!--  -->

    <!-- Slider plugin styles -->
    <link rel="stylesheet" type="text/css" href="assets/plugins/slick-1.8.1/slick/slick.css" />
    <!--  -->

    <!-- Styles -->
    <link rel="stylesheet" href="assets/styles/normalize.css">
    <link rel="stylesheet" href="assets/styles/fonts.css">
    <link rel="stylesheet" href="assets/styles/style.css">
    <!--  -->
</head>

<body>
    <header class="header">
        <div class="header-wrapper">
            <nav class="navigation">
                <ul class="nav-list">
                    <li class="nav-list-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#feedbacks" class="nav-link">Feedbacks</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="#contacts" class="nav-link">Contacts</a>
                    </li>
                </ul>
            </nav>
            <!-- Logo box -->
            <div class="logo-box">
                <!-- Logo link -->
                <a href="#" class="logo-container">
                    <!-- dIMdMI -->
                    <h3 class="logo"><span class="logo-white"><span class="logo-span">d</span><span class="logo-span--I">I</span>M</span><span class="logo-black"><span
                                class="logo-span">d</span>M<span class="logo-span--I">I</span></span>
                    </h3>
                    <!-- TEMPLATES -->
                    <p class="logo-name"><span class="logo-white">temp</span>l<span class="logo-black">ates</span></p>
                </a>
            </div>
            <div class="call-us-box">
                <a href="tel:+(123)-456-78-90" class="call-us">call me back</a>
            </div>
            <!-- Mobile button -->
            <button class="bars-box">
                <span class="bar bar-1"></span>
                <span class="bar bar-2"></span>
                <span class="bar bar-3"></span>
            </button>

        </div>
    </header>
    <section class="intro">
        <div class="intro-content">
            <div class="intro-left">
                <h1 class="intro-title">ALL THIS TEMPLATES ARE FULLY ADAPTIVE</h1>
                <p class="intro-text">All were designed with basics of U/UX for your use. Every element adapts for every screen which makes your web-site the best.</p>
                <div class="learn-more-box">
                    <a href="#" class="learn-more">learn more</a>
                </div>
            </div>
            <div class="intro-right">
                <div class="intro-iPhone-box"></div>
            </div>
        </div>
    </section>
    <main class="main">
        <section class="about" id="about">
            <div class="about-content">
                <h2 class="title about-title">About</h2>
                <div class="about-content-box">
                    <p class="about-text">Creating projects in the categories of alcoholic and non-alcoholic beverages, FMCG, telecom, finance, real estate sales, luxury, retail, food, sports goods, we help your brand to talk to people. The clear strategic communication of
                        each of our projects inspires consumers to look at the world from a new point of view, and for someone to see again what has been forgotten over the years.</p>
                    <p class="about-text">All our creative ideas are born from the behavior of ordinary people. This is the only way to create works that can change the brand. In order for your brand to become a cult, it must become as simple as talking two friends in an elevator.
                        For this, first of all, the strategy is responsible. And our strategic department. Advertising creative always pursues one goal and solves one specific task. </p>
                    <p class="about-text">To solve problems, we create stories. Sometimes a big story idea may hide in the simplest, smallest, and most obvious. The main thing to find it first. No matter what the campaign will be. </p>
                </div>
            </div>
        </section>

        <!-- -------------------------------------- portfolio box -------------------------------------- -->
        <section class="portfolio" id="portfolio">
            <div class="portfolio-content">
                <!-- portfolio title -->
                <h3 class="title portfolio-title">Portfolio</h3>
                <!-- portfolio subtitle -->
                <p class="subtitle portfolio-subtitle">Here you can check our last works</p>
                <!-- portfolio gallery -->
                <div class="portfolio-gallery-box">

                    <!-- gallery column 1 -->
                    <div class="gallery-col gallery-col-1">
                        <!-- gallery image 1 -->
                        <div class="gallery-item gallery-item1"></div>
                        <!-- gallery image 2 -->
                        <div class="gallery-item gallery-item2"></div>
                        <!-- gallery image 3 -->
                        <div class="gallery-item gallery-item3"></div>
                    </div>

                    <!-- gallery column 2 -->
                    <div class="gallery-col gallery-col-2">
                        <!-- gallery image 4 -->
                        <div class="gallery-item gallery-item4"></div>
                        <!-- gallery image 5 -->
                        <div class="gallery-item gallery-item5"></div>
                        <!-- gallery image 6 -->
                        <div class="gallery-item gallery-item6"></div>
                    </div>

                    <!-- gallery column 3 -->
                    <div class="gallery-col gallery-col-3">

                        <!-- tablet positioning box left -->
                        <div class="magic-box-left">
                            <!-- gallery image 7 -->
                            <div class="gallery-item gallery-item7"></div>
                        </div>

                        <!-- tablet positioning box right -->
                        <div class="magic-box-right">
                            <!-- gallery image 8 -->
                            <div class="gallery-item gallery-item8"></div>
                            <!-- gallery image 9 -->
                            <div class="gallery-item gallery-item9"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feedbacks" id="feedbacks">
            <div class="feedbacks-content">
                <div class="title feedbacks-title">Feedbacks</div>
                <div class="feedback-slider">
                    <!-- slide 1 -->
                    <div class="feedback-slide">
                        <div class="review">
                            <div class="reviewer-info-box">
                                <img src="assets/images/reviewer1.png" alt="" class="reviewer-photo">
                                <div class="reviewer-content">
                                    <h3 class="reviewer-name">Rick Kurtis</h3>
                                    <p class="reviewer-company">google inc</p>
                                </div>
                            </div>
                            <p class="reviewer-text">“Our first project debuted this year. I liked it from the very beginning - clarity in work, financial discipline and the ability to constructively solve emerging issues. At the moment, the project is developing successfully.”</p>
                        </div>
                    </div>
                    <!-- slide 2 -->
                    <div class="feedback-slide">
                        <div class="review">
                            <div class="reviewer-info-box">
                                <img src="assets/images/reviewer2.png" alt="" class="reviewer-photo">
                                <div class="reviewer-content">
                                    <h3 class="reviewer-name">Mary Brown</h3>
                                    <p class="reviewer-company">microsoft</p>
                                </div>
                            </div>
                            <p class="reviewer-text">“We have been cooperating for more than 10 years. The work is taken seriously and professionally, fulfilling obligations on time and in full. I value our joint work and I hope for its further continuation. We still have a lot
                                of projects”</p>
                        </div>
                    </div>
                    <!-- slide 3 -->
                    <div class="feedback-slide">
                        <div class="review">
                            <div class="reviewer-info-box">
                                <img src="assets/images/reviewer3.png" alt="" class="reviewer-photo">
                                <div class="reviewer-content">
                                    <h3 class="reviewer-name">Heyley Cooper</h3>
                                    <p class="reviewer-company">businesswoman</p>
                                </div>
                            </div>
                            <p class="reviewer-text">“During the cooperation, all the high-precision equipment shipped by us and spare parts for it were delivered by you without damage and on time. In our difficult time, it is important to have partners you can trust.”</p>
                        </div>
                    </div>
                    <!-- slide 4 -->
                    <div class="feedback-slide">
                        <div class="review">
                            <div class="reviewer-info-box">
                                <img src="assets/images/reviewer2.png" alt="" class="reviewer-photo">
                                <div class="reviewer-content">
                                    <h3 class="reviewer-name">Mary Brown</h3>
                                    <p class="reviewer-company">microsoft</p>
                                </div>
                            </div>
                            <p class="reviewer-text">“We have been cooperating for more than 10 years. The work is taken seriously and professionally, fulfilling obligations on time and in full. I value our joint work and I hope for its further continuation. We still have a lot
                                of projects”</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contacts" id="contacts">
            <div class="contacts-content">
                <h2 class="title contacts-title">Contacts</h2>
                <p class="contacts-address">Ukraine, Kharkiv, Alekseevskaya str 3G</p>
            </div>
            <div class="contacts-map">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.501501124941!2d36.195856415682684!3d50.03943607942081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a154edfa3ab9%3A0x5485426f70423b90!2z0JDQu9C10LrRgdC10LXQstGB0LrQsNGPINGD0LsuLCAzLCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1564410154232!5m2!1sru!2sua"
                    width="auto" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <!-- Logo box -->
            <div class="logo-box">
                <!-- Logo link -->
                <a href="#" class="logo-container">
                    <!-- dIMdMI -->
                    <h3 class="logo"><span class="logo-white"><span class="logo-span">d</span><span class="logo-span--I">I</span>M</span><span class="logo-black"><span
                                class="logo-span">d</span>M<span class="logo-span--I">I</span></span>
                    </h3>
                    <!-- TEMPLATES -->
                    <p class="logo-name"><span class="logo-white">temp</span>l<span class="logo-black">ates</span></p>
                </a>
            </div>
            <p class="copyright">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                All rights reserved
            </p>
            <div class="footer-socials">
                <a href="#" class="social-link"><i class="fab fa-vk"></i></a>
                <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>



    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/53d6c681d0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Slider plugin scripts -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/slick-1.8.1/slick/slick.js"></script>
    <!--  -->
    <script src="assets/scripts/script.js"></script>
</body>

</html>